<nav class = "navbar">
Customer Manager &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a>Customer</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a>Orders</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a>About</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a>Login</a>
</nav>
<p>Customers</p>
<nav>
Card View &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
List View &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Map View &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
New Customer 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Filter &nbsp; <input type = "search">
</nav>
<hr>
<div class="row">
<div class="column">
<div class = "head"><a routerLink = "igor" class = "custname">Igor Minar</a></div>
<div class = "body">
<div class = "rowinner">
<div class = "columninner">
<img src = "app/verizon.jpg">
</div>
<div class = "columninner">
Phoenix,<br> 
Arizona<br>
View Orders<br>
</div>
</div>
</div>
</div>
<div class="column">
<div class = "head"><a routerLink = "misko" class = "custname">Misko Hevery</a></div>
<div class = "body">
<div class = "rowinner">
<div class = "columninner">
<img src = "app/livemint.jpg">
</div>
<div class = "columninner">
Cary North,<br> 
Carolina<br>
View Orders<br>
</div>
</div>
</div>
</div>
<div class="column">
<div class = "head">John Papa</div>
<div class = "body">
<div class = "rowinner">
<div class = "columninner">
<img src = "app/agrigold.jpg">
</div>
<div class = "columninner">
Orlando,<br> 
Florida<br>
View Orders<br>
</div>
</div>
</div>
</div>
</div>
<div class="pagination">
<a>&laquo;</a>
<a class = "default">1</a>
<a>2</a>
<a>3</a>
<a>&raquo;</a>
</div>
<hr>
<router-outlet></router-outlet>
