<p>Customer Information</p>
<nav>
<a>Customer Details</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Customer Orders &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Edit Customer &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</nav>
<hr>
<div class="row">
<div class="column"><img src = "app/verizon.jpg"></div>
<div class="column">
Igor Minar<br>
12 Holloway Street,<br>
Phoenix Arizona<br>
</div>
</div>
<p>Customer Map</p>
<iframe src = "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d425345.013162573!2d-112.40523917492752!3d33.605099095248676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b12ed50a179cb%3A0x8c69c7f8354a1bac!2sPhoenix%2C%20AZ%2C%20USA!5e0!3m2!1sen!2sin!4v1611419548494!5m2!1sen!2sin">
</iframe>
<hr>
<p>Customer Orders</p>
<h3>Orders for Igor Milan</h3>
<hr>
<table>
<tr><td>Basketball</td><td>$7.99</td></tr>
<tr><td>Shoes</td><td>$199.99</td></tr>
<tr><td>Total</td><td>$207.99</td></tr>
</table>
